---
//import { getPostUrlBySlug } from '@utils/url-utils'
import PostCard from './PostCard.astro'

//const { page } = Astro.props

// Fetch data from API during build time
const response = await fetch('https://leo-api.vercel.app/api/jobs')
const jobs = await response.json()

let delay = 0
const interval = 50
---

<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {jobs.map((job, index) => {
        return (
            <PostCard
                entry={job}
                title={job.title}
                tags={[job.category]} 
                category={job.category}
                published={new Date(job.createdAt)}
                updated={new Date(job.updatedAt)}
                url={`/job/${job.jobCode}`} 
                image={job.image}
                rate={`${job.rate}`} 
                location={job.location}
                description={job.desc}
                draft={false} 
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            ></PostCard>
        );
    })}
</div>
